import itertools
with open('cars_2014.csv') as f:
    for row in itertools.islice(f,0,20):
        print(row,end = '')

In [4]:
from collections import defaultdict

In [5]:
makes = defaultdict(int)

In [7]:
makes['adfaf']

0

In [9]:
makes['BMW'] = makes['BMW'] +1
makes['BMW']

2

In [10]:
makes['BMW']

2

In [15]:
makes = defaultdict(int)

with open('cars_2014.csv') as f:
    next(f)
    for row in f :
        make,_ = row.strip('\n').split(',')
        makes[make]+=1
for key,value in makes.items():
    print(f'{key}:{value}')

ACURA:6
ALFA ROMEO:2
APRILIA:4
ARCTIC CAT:96
ARGO:4
ASTON MARTIN:5
AUDI:27
BENTLEY:2
BLUE BIRD:1
BMW:86
BUGATTI:1
BUICK:5
CADILLAC:7
CAN-AM:61
CHEVROLET:33
CHRYSLER:2
DODGE:7
DUCATI:4
FERRARI:6
FIAT:2
FORD:34
FREIGHTLINER:7
GMC:12
HARLEY DAVIDSON:29
HINO:7
HONDA:91
HUSABERG:4
HUSQVARNA:9
HYUNDAI:13
INDIAN:3
INFINITI:8
JAGUAR:9
JEEP:5
JOHN DEERE:19
KAWASAKI:59
KENWORTH:11
KIA:10
KTM:13
KUBOTA:4
KYMCO:28
LAMBORGHINI:2
LAND ROVER:6
LEXUS:14
LINCOLN:6
LOTUS:1
MACK:9
MASERATI:3
MAZDA:5
MCLAREN:2
MERCEDES-BENZ:60
MINI:3
MITSUBISHI:8
NISSAN:24
PEUGEOT:3
POLARIS:101
PORSCHE:4
RAM:6
RENAULT:4
ROLLS ROYCE:3
SCION:5
SEAT:3
SKI-DOO:67
SMART:1
SRT:1
SUBARU:10
SUZUKI:48
TESLA:2
TOYOTA:19
TRIUMPH:10
VESPA:4
VICTORY:14
VOLKSWAGEN:16
VOLVO:8
YAMAHA:110

In [16]:
data = (1,2,2,2,3)

In [18]:
list(itertools.groupby(data))

[(1, <itertools._grouper at 0x111f81518>),
 (2, <itertools._grouper at 0x111f81828>),
 (3, <itertools._grouper at 0x111f818d0>)]

In [20]:
it = itertools.groupby(data)
for group_key,sub_iter in it:
    print(group_key,list(sub_iter))

1 [1]
2 [2, 2, 2]
3 [3]

In [21]:
data = (
        (1,'abc'),
        (1,'bcd'),
        
        (2,'pyt'),
        (2,'yth'),
        (2,'tho'),
    
        (3,'hon')
)

In [22]:
data

((1, 'abc'), (1, 'bcd'), (2, 'pyt'), (2, 'yth'), (2, 'tho'), (3, 'hon'))

In [23]:
groups = itertools.groupby(data,key = lambda x :x[0])

In [24]:
list(groups)

[(1, <itertools._grouper at 0x111f814a8>),
 (2, <itertools._grouper at 0x111f81470>),
 (3, <itertools._grouper at 0x111f816d8>)]

In [25]:
list(groups)

[]

In [27]:
groups = itertools.groupby(data,key = lambda x :x[0])
for group_key,sub_iter in groups:
    print(group_key,list(sub_iter))

1 [(1, 'abc'), (1, 'bcd')]
2 [(2, 'pyt'), (2, 'yth'), (2, 'tho')]
3 [(3, 'hon')]

In [33]:
def gen_groups():
    
    for key in range(1,4):
        for i in range(3):
            yield (key,i)

In [34]:
g = gen_groups()

In [35]:
groups = itertools.groupby(g,key = lambda x :x[0])

In [37]:
for group in groups:
    print(group[0],group[1])

In [39]:
list(g)

[]

In [40]:
list(groups)

[]

In [42]:
with open('cars_2014.csv') as f:
    make_groups = itertools.groupby(f,lambda x : x.split(',')[0])

In [43]:
list(make_groups)

ValueError: I/O operation on closed file.

In [46]:
with open('cars_2014.csv') as f:
    next(f)
    make_groups = itertools.groupby(f,lambda x : x.split(',')[0])
    print(list(itertools.islice(make_groups,5)))

[('ACURA', <itertools._grouper object at 0x111f89a58>), ('ALFA ROMEO', <itertools._grouper object at 0x111f89470>), ('APRILIA', <itertools._grouper object at 0x111f898d0>), ('ARCTIC CAT', <itertools._grouper object at 0x111f89ac8>), ('ARGO', <itertools._grouper object at 0x111f89cc0>)]

In [51]:
with open('cars_2014.csv') as f:
    next(f)
    make_groups = itertools.groupby(f,lambda x : x.split(',')[0])
    make_counts = [(key,len(models)) for key,models in make_groups]
    print(list(make_counts))

TypeError: object of type 'itertools._grouper' has no len()

In [57]:
def squares(n):
    for i in range(n):
        yield i**2

In [58]:
sq = squares(5)

In [59]:
i = 0 
for item in sq:
    i+=1
print(i)

5

In [60]:
def len_iterable(iterable):
    i = 0 
    for item in iterable:
        i+=1
    return i

In [61]:
len_iterable(squares(5))

5

In [62]:
'a','b','c'

('a', 'b', 'c')

In [64]:
sum((1,2,1,))

4

In [67]:
sum(1 for i in squares(8))

8

In [68]:
with open('cars_2014.csv') as f:
    next(f)
    make_groups = itertools.groupby(f,lambda x : x.split(',')[0])
    make_counts = ((key,sum(1 for model in models)) 
                   for key,models in make_groups)
    print(list(make_counts))

[('ACURA', 6), ('ALFA ROMEO', 2), ('APRILIA', 4), ('ARCTIC CAT', 96), ('ARGO', 4), ('ASTON MARTIN', 5), ('AUDI', 27), ('BENTLEY', 2), ('BLUE BIRD', 1), ('BMW', 86), ('BUGATTI', 1), ('BUICK', 5), ('CADILLAC', 7), ('CAN-AM', 61), ('CHEVROLET', 33), ('CHRYSLER', 2), ('DODGE', 7), ('DUCATI', 4), ('FERRARI', 6), ('FIAT', 2), ('FORD', 34), ('FREIGHTLINER', 7), ('GMC', 12), ('HARLEY DAVIDSON', 29), ('HINO', 7), ('HONDA', 91), ('HUSABERG', 4), ('HUSQVARNA', 9), ('HYUNDAI', 13), ('INDIAN', 3), ('INFINITI', 8), ('JAGUAR', 9), ('JEEP', 5), ('JOHN DEERE', 19), ('KAWASAKI', 59), ('KENWORTH', 11), ('KIA', 10), ('KTM', 13), ('KUBOTA', 4), ('KYMCO', 28), ('LAMBORGHINI', 2), ('LAND ROVER', 6), ('LEXUS', 14), ('LINCOLN', 6), ('LOTUS', 1), ('MACK', 9), ('MASERATI', 3), ('MAZDA', 5), ('MCLAREN', 2), ('MERCEDES-BENZ', 60), ('MINI', 3), ('MITSUBISHI', 8), ('NISSAN', 24), ('PEUGEOT', 3), ('POLARIS', 101), ('PORSCHE', 4), ('RAM', 6), ('RENAULT', 4), ('ROLLS ROYCE', 3), ('SCION', 5), ('SEAT', 3), ('SKI-DOO', 67), ('SMART', 1), ('SRT', 1), ('SUBARU', 10), ('SUZUKI', 48), ('TESLA', 2), ('TOYOTA', 19), ('TRIUMPH', 10), ('VESPA', 4), ('VICTORY', 14), ('VOLKSWAGEN', 16), ('VOLVO', 8), ('YAMAHA', 110)]