In [1]:
(10,20,30)

(10, 20, 30)

In [3]:
a = (10,20,30)
b= 10,20,30

In [5]:
type(a)

tuple

In [7]:
type(b)

tuple

In [10]:
def print_tuple(t):
    for e in t:
        print(e)

In [12]:
print_tuple((10,20,30))

10
20
30

In [14]:
a = 'a',10,200

In [16]:
a[1]

10

In [21]:
a = 1,2,3,4,5,6

In [22]:
type(a)

tuple

In [24]:
a[2:5] #from 2 ,but not include 5

(3, 4, 5)

In [26]:
for e in a:
    print(e)

1
2
3
4
5
6

In [27]:
a = 'a',10,20
x,y,z=a

In [29]:
x

'a'

In [31]:
z

20

In [32]:
a=1,2,3,4,5

In [33]:
x,*other,y,z=a

In [35]:
other

[2, 3]

In [37]:
x,*_,y,z =a

In [39]:
x,y,z

(1, 4, 5)

In [41]:
_

[2, 3]

In [43]:
a

(1, 2, 3, 4, 5)

In [46]:
a[0]

1

In [48]:
a[0]=100

TypeError: 'tuple' object does not support item assignment

In [65]:
class Point2D:
    def __init__(self,x,y):
        self.x = x
        self.y = y
    
    def __repr__(self):
        return f'{self.__class__.__name__}(x={self.x},y={self.y})'

In [66]:
pt = Point2D(10,20)

In [67]:
id(pt)

4595530552

In [68]:
pt

Point2D(x=10,y=20)

In [70]:
id(pt)

4595530552

In [72]:
a = Point2D(0,0),Point2D(10,20)

In [74]:
a

(Point2D(x=0,y=0), Point2D(x=10,y=20))

In [76]:
id(pt)

4595530552

In [78]:
id(a[0])

4595634640

In [80]:
a[0].x =100

In [82]:
a

(Point2D(x=100,y=0), Point2D(x=10,y=20))

In [1]:
'python'

'python'

In [1]:
s = 'python'

In [2]:
id(s)

4337079048

In [3]:
s='python'+' rocks!'

In [4]:
s

'python rocks!'

In [5]:
id(s)

4578246192

In [6]:
a = 1,2,3
id(a)

4578625576

In [7]:
a +=(4,5)

In [8]:
a

(1, 2, 3, 4, 5)

In [9]:
id(a)

4578196736

In [10]:
a = a+ (4,5)

In [12]:
a

(1, 2, 3, 4, 5, 4, 5)

In [15]:
pt1 = (0,0)
pt2 = (10,20)

In [40]:
london = 'London','UK',8_780_000
new_york = 'New York','USA',8_500_000
beijing = 'Beijing','China',21_000_000

In [41]:
cities = [london,new_york,beijing]

In [43]:
total = 0
for city in cities:
    total += city[2]
print(total)

38280000

In [47]:
total =sum(city[2] for city in cities)

In [49]:
total

38280000

In [50]:
record = 'DJIA',2019,1,19,25_987,26_072,25_942,26_072

In [51]:
symbol,year,month,day,open_,high,low,close =record

In [53]:
symbol,year,month,day,open_,high,low,close

('DJIA', 2019, 1, 19, 25987, 26072, 25942, 26072)

In [55]:
symbol,*_,close = record

In [57]:
symbol

'DJIA'

In [58]:
close

26072

In [60]:
_

[2019, 1, 19, 25987, 26072, 25942]

In [63]:
for city,country,population in cities:
    print(city,country,population)

London UK 8780000
New York USA 8500000
Beijing China 21000000

In [67]:
for index,city in enumerate(cities):
    print(index,city)

0 ('London', 'UK', 8780000)
1 ('New York', 'USA', 8500000)
2 ('Beijing', 'China', 21000000)

In [68]:
from random import uniform

In [69]:
from math import sqrt

In [71]:
def random_shot(radius):
    random_x = uniform(-radius,radius)
    random_y = uniform(-radius,radius)
    
    if sqrt(random_x **2 + random_y **2)<=radius:
        is_in_circle = True
    else:
        is_in_circle = False
    
    return random_x,random_y,is_in_circle

In [79]:
num_attempts = 1_000_000
count_inside = 0
for i in range(num_attempts):
    *_,is_in_circle=random_shot(1)
    if is_in_circle:
        count_inside =+1
print(f'Pi is approximately : {4*count_inside/num_attempts}')

Pi is approximately : 4e-06