In [1]:
class Person:
    def __init__(self,name):
        self.name = name
        
    def __repr__(self):
        return f'Person(name={self.name})'

In [2]:
p1 = Person('Sam')
p2 = Person('Dean')

In [3]:
hash(p1),hash(p2)

(286167083, -9223372036568608743)

In [5]:
s1={p1,p2}

In [6]:
s1

{Person(name=Dean), Person(name=Sam)}

In [7]:
s2 = s1.copy()

In [8]:
s1 is s2

False

In [9]:
s2

{Person(name=Dean), Person(name=Sam)}

In [10]:
p1 in s1

True

In [11]:
p1 in s2

True

In [12]:
s3 = {*s1}

In [13]:
s3

{Person(name=Dean), Person(name=Sam)}

In [15]:
s1 is s3

False

In [16]:
s1 ==s3

True

In [17]:
s1,s2,s3

({Person(name=Dean), Person(name=Sam)},
 {Person(name=Dean), Person(name=Sam)},
 {Person(name=Dean), Person(name=Sam)})

In [18]:
p1.name='Cass'

In [19]:
p1

Person(name=Cass)

In [21]:
s1,s2,s3

({Person(name=Cass), Person(name=Dean)},
 {Person(name=Cass), Person(name=Dean)},
 {Person(name=Cass), Person(name=Dean)})

In [22]:
hash(p1)

286167083

In [23]:
s4 = set(s1)

In [24]:
s1 ==s4

True

In [25]:
s1 is s4

False

In [26]:
from copy import deepcopy

In [27]:
s5 = deepcopy(s1)

In [28]:
s5

{Person(name=Cass), Person(name=Dean)}

In [29]:
s1 is s5

False

In [31]:
s1 ==s5

False

In [32]:
[(o,id(o)) for o in s1]

[(Person(name=Dean), 4578673048), (Person(name=Cass), 4578673328)]

In [33]:
[(o,id(o)) for o in s2]

[(Person(name=Dean), 4578673048), (Person(name=Cass), 4578673328)]

In [34]:
[(o,id(o)) for o in s5]

[(Person(name=Dean), 4579650696), (Person(name=Cass), 4579650864)]

In [35]:
p2.name = 'Dean Winchester'

In [36]:
s1,s2,s3,s4

({Person(name=Cass), Person(name=Dean Winchester)},
 {Person(name=Cass), Person(name=Dean Winchester)},
 {Person(name=Cass), Person(name=Dean Winchester)},
 {Person(name=Cass), Person(name=Dean Winchester)})

In [37]:
s1.remove(p1)

In [39]:
s2

{Person(name=Cass), Person(name=Dean Winchester)}

In [40]:
s1

{Person(name=Dean Winchester)}

In [41]:
s1.remove(Person('Dean Winchester'))

KeyError: Person(name=Dean Winchester)