In [1]:
s1 ={1,2,3}
s2 ={2,3,4}

In [3]:
print(s1,id(s1))
print(s2,id(s2))

{1, 2, 3} 4578676808
{2, 3, 4} 4578677256

In [4]:
s1 = s1&s2

In [5]:
print(s1,id(s1))
print(s2,id(s2))

{2, 3} 4578677032
{2, 3, 4} 4578677256

In [6]:
id(globals()['s1'])

4578677032

In [9]:
s1 = {1,2,3}
s2 = {2,3,4}
print(id(s1))
s1|=s2
print(s1,id(s1))
print(s1,id(s1))
print(s2,id(s2))

4578678376
{1, 2, 3, 4} 4578678376

In [10]:
print(id(s1))
s1|=s2
print(s1,id(s1))
print(s1,id(s1))
print(s2,id(s2))

s1.update(s2)

4578678376
{1, 2, 3, 4} 4578678376
{1, 2, 3, 4} 4578678376
{2, 3, 4} 4578676808

In [11]:
s1={1,2,3}
s2 = {2,3,4}
print(id(s1))
s1&=s2
print(id(s1),s1)

4578677256
4578677256 {2, 3}

In [12]:
s1={1,2,3}
s2 = {2,3,4}
print(id(s1))
s1.intersection_update(s2)
s1&=s2
print(id(s1),s1)

4578678376
4578678376 {2, 3}

In [14]:
s1 ={1,2,3,4}
s2 = {2,3}
print(id(s1))
s1-=s2
print(id(s1),s1)

4578678376
4578678376 {1, 4}

In [15]:
s1 ={1,2,3,4}
s2 = {2,3}
print(id(s1))
s1.difference_update(s2)
print(id(s1),s1)

4578677032
4578677032 {1, 4}

In [17]:
s1 = {1,2,3,4}
s2 = {2,3}
s3 = {3,4}

result=(s1-s2)-s3
print(result)

s1-=s2-s3
print(s1)

{1}
{1, 3, 4}

In [19]:
s1 = {1,2,3,4}
s2 = {2,3}
s3 = {3,4}

result=s1-(s2-s3)
print(result)

s1-=s2-s3  #from right to left
print(s1)

{1, 3, 4}
{1, 3, 4}

In [21]:
s1 = {1,2,3,4}
s2 = {2,3}
s3 = {3,4}

result=s1-(s2-s3)
print(result)

s1-=s2-s3  #from right to left
print(s1)


s1 = {1,2,3,4}
s2 = {2,3}
s3 = {3,4}


s1.difference_update(s2,s3)
print(s1)

{1, 3, 4}
{1, 3, 4}
{1}

In [22]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7}
s1^s2

{1, 2, 3, 6, 7}

In [23]:
print(id(s1))
s1^=s2
print(id(s1),s1)

4578678824
4578678824 {1, 2, 3, 6, 7}

In [24]:
s1 = {1,2,3}
s2 = {3,4,5}
s3 = {5,6,7}

print(id(s1))
s1|=s2|s3
print(id(s1),s1)

4578677032
4578677032 {1, 2, 3, 4, 5, 6, 7}

In [ ]:
s1={1,2,3}
s1.update([3,4,5])

In [25]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [26]:
s1 = {1,2,3}
s1 |= set([3,4,5]) | set((6,7,8))|set('abc')

In [27]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c'}

In [28]:
def combine(string,target):
    target.update(string.split(' '))

In [30]:
def cleanup(combined):
    words = {'the','and','a','or','is','of'}
    combined -=words

In [32]:
result = set()
combine('lumberjacks sleeps all night',result)
combine('the ministry of silly walks',result)
combine('this parrot is a late parrot',result)
cleanup(result)
print(result)

{'sleeps', 'silly', 'parrot', 'lumberjacks', 'ministry', 'late', 'night', 'all', 'walks', 'this'}

In [33]:
def gen_read_data():
    yield ['Paris','Beijing','New York','London','Madrid','Mumbai']
    yield ['Hyderabad','New York','Milan','Phoenix','Berlin','Cairo']
    yield ['Stockholm','Cairo','Paris','Barcelona','San Francisico']

In [34]:
data = gen_read_data()

In [35]:
next(data)

['Paris', 'Beijing', 'New York', 'London', 'Madrid', 'Mumbai']

In [36]:
next(data)

['Hyderabad', 'New York', 'Milan', 'Phoenix', 'Berlin', 'Cairo']

In [38]:
next(data)

['Stockholm', 'Cairo', 'Paris', 'Barcelona', 'San Francisico']

In [40]:
next(data)

StopIteration:

In [41]:
def filter_incoming(*cities,data_set):
    data_set.difference_update(cities)

In [47]:
result = set()
data = gen_read_data()
for page in data:
    result.update(page)
    filter_incoming('Paris','London',data_set =result)
print (result)

{'Stockholm', 'Phoenix', 'Hyderabad', 'San Francisico', 'Mumbai', 'Milan', 'New York', 'Madrid', 'Barcelona', 'Berlin', 'Cairo', 'Beijing'}