In [1]:
l = [1,2,3]
t = (1,2,3)
s = 'python'

In [4]:
l[0]

1

In [6]:
t[1]

2

In [16]:
a= s[2]
print('The [2] positon is {0}.'.format(a))

The [2] positon is t.

In [19]:
for i in s:
    print(i)

p
y
t
h
o
n

In [21]:
s = {10,20,30}
for i in s:
    print(i)

10
20
30

In [23]:
s={'x','y','10','A'}   # set doesnt support index
for i in s:
    print(i)

10
x
y
A

In [32]:
l = [1,2,3]
t = (1,2,3)

In [33]:
l[0]

1

In [34]:
l[0]=100
l

[100, 2, 3]

In [37]:
t[0]=100
t

TypeError: 'tuple' object does not support item assignment

In [45]:
t = ([1,2],4,5)
t[0]=[1,2,3]

TypeError: 'tuple' object does not support item assignment

In [46]:
t[0][1]=100    # t=([1,2],3),4  t[0]=[1,2]  t[0][1]=2
t

([1, 100], 4, 5)

In [47]:
'a' in ['a','b',100]

True

In [50]:
100 in range(200)  # range(200) = 0-199

True

In [52]:
1 in range(2)

True

In [53]:
len('python'),len([1,2,2]),len({10,20,30}),len({'a':1,'b':2,'c':3})

(6, 3, 3, 3)

In [56]:
l = [100,57,34]
print(max(l))
print(min(l))

100
34

In [58]:
l = ['a','b','c']

In [61]:
max(l),min(l)

('c', 'a')

In [63]:
l = ['a',100,200]
min(l),max(l)

TypeError: '<' not supported between instances of 'int' and 'str'

In [64]:
from decimal import Decimal

In [66]:
l = [10,10.5,Decimal('20.3')]
min(l),max(l)

(10, Decimal('20.3'))

In [69]:
[1,2,3]+[3,5,6]

[1, 2, 3, 3, 5, 6]

In [71]:
(1,2,3)+(3,4,5)

(1, 2, 3, 3, 4, 5)

In [73]:
'abc'+['d','e']

TypeError: must be str, not list

In [75]:
list('abc')

['a', 'b', 'c']

In [79]:
list('abc')+['c','e']

['a', 'b', 'c', 'c', 'e']

In [81]:
'***'.join([1,2,3])

TypeError: sequence item 0: expected str instance, int found

In [87]:
'***'.join(['1','2','3'])

'1***2***3'

In [89]:
'.'.join(['1','2'])

'1.2'

In [91]:
''.join(list('abc')+['c','e'])

'abcce'

In [93]:
'abc' *2

'abcabc'

In [95]:
[1,2,3] *3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [99]:
(1,2,3)*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [2]:
s = "gnu is not unix"
enumerate(s)

In [3]:
list(enumerate(s))

[(0, 'g'),
 (1, 'n'),
 (2, 'u'),
 (3, ' '),
 (4, 'i'),
 (5, 's'),
 (6, ' '),
 (7, 'n'),
 (8, 'o'),
 (9, 't'),
 (10, ' '),
 (11, 'u'),
 (12, 'n'),
 (13, 'i'),
 (14, 'x')]

In [5]:
s.index('n')

1

In [6]:
s.index('n',2) # find 'n' starting from  2

7

In [10]:
s.index('n',8)

12

In [8]:
s.index('X')

ValueError: substring not found

In [11]:
s.index('n',12)

12

In [12]:
s = 'python'
l=[1,2,3,4,5,6,7,8,9,10]

In [14]:
s[1:4] #not include 4

'yth'

In [25]:
list(enumerate(s))

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [27]:
l[0:5]

[1, 2, 3, 4, 5]

In [29]:
s[4:1000]

'on'

In [32]:
s[:4] #not include 4

'pyth'

In [34]:
s[4:]

'on'

In [36]:
s[:]

'python'

In [38]:
l = [1,2,3]
l2=l[:]

In [40]:
l,l2

([1, 2, 3], [1, 2, 3])

In [42]:
id(l),id(2),l is l2

(4576042632, 4304832928, False)

In [44]:
s[-1] #last element

'n'

In [47]:
s[0:5:-1]

''

In [50]:
s[5:0:-1]

'nohty'

In [54]:
s[::-1]

'nohtyp'

In [74]:
from decimal import Decimal
a = Decimal('10.5')
b = Decimal('10.5')
a is b, a==b    # decimals are immutable

(False, True)

In [75]:
l=[Decimal('10.5')]
id(l[0])

4595437720

In [76]:
l2 = l*2
l2

[Decimal('10.5'), Decimal('10.5')]

In [78]:
id(l2[0])

4595437720

In [80]:
l = [[0,0]]
id(l[0])

4595379912

In [84]:
l2 = l*2
l2
id(l2[0]),id(l2[1])

(4595379912, 4595379912)

In [86]:
l[0][0]=100
l

[[100, 0]]

In [87]:
l2

[[100, 0], [100, 0]]