In [27]:
class MyClass:
    def __init__(self,name):
        self.name = name
        
    def __repr__(self):
        return f'MyClass(name={self.name})'
    
    def __add__(self,other):
        print(f'You called + on {self} and {other}')
        return 'Hello from __add__'
    
    def __iadd__(self,other):
        print(f'You called += on {self} and {other}')
        return 'Hello from __iadd__'

In [28]:
c1 = MyClass('instance 1')
c2 = MyClass('instance 2')
result = c1+c2

You called + on MyClass(name=instance 1) and MyClass(name=instance 2)

In [29]:
c1,c2

(MyClass(name=instance 1), MyClass(name=instance 2))

In [30]:
id(c1)

4571295304

In [31]:
c1+=c2

You called += on MyClass(name=instance 1) and MyClass(name=instance 2)

In [33]:
c1

'Hello from __iadd__'

In [35]:
id(c1)

4571351416

In [37]:
class MyClass:
    def __init__(self,name):
        self.name = name
        
    def __repr__(self):
        return f'MyClass(name={self.name})'
    
    def __add__(self,other):
        return MyClass(self.name + other.name)
        
        
    def __iadd__(self,other):
        if isinstance(other,MyClass):
            self.name +=other.name
        else:
            self.name += other
        return self

In [39]:
c1=MyClass('Eric')
c2=MyClass('Idle')
print(id(c1))
print(id(c2))

4571364152
4571363536

In [41]:
result = c1+c2

In [43]:
id(result),result

(4571362752, MyClass(name=EricIdle))

In [45]:
class MyClass:
    def __init__(self,name):
        self.name = name
        
    def __repr__(self):
        return f'MyClass(name={self.name})'
    
    def __add__(self,other):
        return MyClass(self.name + other.name)
        
        
    def __iadd__(self,other):
        if isinstance(other,MyClass):
            self.name +=other.name
        else:
            self.name += other
        return self
    def __mul__(self,n):
        return MyClass(self.name * n)
    
    def __imul_(self,n):
        self.name+=n
        return self

In [47]:
c1=MyClass('Eric')
id(c1)

4571365104

In [49]:
result = c1*3

In [51]:
id(result),result

(4571362808, MyClass(name=EricEricEric))

In [53]:
c1 *3

MyClass(name=EricEricEric)

In [55]:
id(c1),c1

(4571365104, MyClass(name=Eric))

In [57]:
c1=MyClass('Eric')
c1 *3

MyClass(name=EricEricEric)

In [59]:
3 *c1

TypeError: unsupported operand type(s) for *: 'int' and 'MyClass'

In [62]:
(3).__mul__(c1)

NotImplemented

In [65]:
c1.__imul__(3)

AttributeError: 'MyClass' object has no attribute '__imul__'

In [66]:
class MyClass:
    def __init__(self,name):
        self.name = name
        
    def __repr__(self):
        return f'MyClass(name={self.name})'
    
    def __add__(self,other):
        return MyClass(self.name + other.name)
        
        
    def __iadd__(self,other):
        if isinstance(other,MyClass):
            self.name +=other.name
        else:
            self.name += other
        return self
    
    def __mul__(self,n):
        return MyClass(self.name * n)
    
    def __rmul__(self,n):
        return self.__mul__(n)
    
    def __imul_(self,n):
        self.name+=n
        return self

In [68]:
c1=MyClass('Eric')
c1*3

MyClass(name=EricEricEric)

In [70]:
3*c1

MyClass(name=EricEricEric)

In [73]:
l = [1,2,3,4]
s = 'python'

In [75]:
1 in l

True

In [77]:
'a' in s

False

In [79]:
class MyClass:
    def __init__(self,name):
        self.name = name
        
    def __repr__(self):
        return f'MyClass(name={self.name})'
    
    def __add__(self,other):
        return MyClass(self.name + other.name)
        
        
    def __iadd__(self,other):
        if isinstance(other,MyClass):
            self.name +=other.name
        else:
            self.name += other
        return self
    
    def __mul__(self,n):
        return MyClass(self.name * n)
    
    def __rmul__(self,n):
        return self.__mul__(n)
    
    def __imul_(self,n):
        self.name+=n
        return self
    
    def __contains__(self,value):
        return value in self.name

In [81]:
c1 = MyClass('Eric Idle')
'Eric' in c1

True

In [82]:
'z' in c1

False