In [5]:
l1 = [1,2,3,4]
l2 = [5,6]
print(id(l1),l1)
print(id(l2),l2)

4568687048 [1, 2, 3, 4]
4566922952 [5, 6]

In [7]:
l1 = l1 + l2
print(id(l1),l1)

4567001864 [1, 2, 3, 4, 5, 6, 5, 6]

In [11]:
t1 = (1,2,3)
l1 = l1 + t1

TypeError: can only concatenate list (not "tuple") to list

In [14]:
l1 = [1,2,3,4]
l2 = [5,6]
print(id(l1),l1)
print(id(l2),l2)

4587221640 [1, 2, 3, 4]
4566626696 [5, 6]

In [26]:
l1+=l2
print(id(l1),l1)

4568665928 [1, 2, 3, 4, 5, 6, 5, 6, 5, 6]

In [18]:
l2+=l1
print(id(l2),l2)

4566626696 [5, 6, 1, 2, 3, 4, 5, 6, 5, 6, 1, 2, 3, 4, 5, 6, 5, 6]

In [20]:
l1 = [1,2,3,4]
l2 = (5,6)
print(id(l1),l1)
print(id(l2),l2)

4568665928 [1, 2, 3, 4]
4566373576 (5, 6)

In [22]:
l1+=l2
print(id(l1),l1)

4568665928 [1, 2, 3, 4, 5, 6, 5, 6]

In [24]:
l2+=l1
print(id(l2),l2)

TypeError: can only concatenate tuple (not "list") to tuple

In [27]:
t1 = (1,2,3)
t2= (4,5,6)
print(id(t1),t1)
print(id(t2),t2)

4566938896 (1, 2, 3)
4566992720 (4, 5, 6)

In [29]:
t1+=t2
print(id(t1),t1)

4565985992 (1, 2, 3, 4, 5, 6, 4, 5, 6)

In [31]:
l1 = l1*2
print(id(l1),l1)

4587221640 [1, 2, 3, 4, 5, 6, 5, 6, 5, 6, 1, 2, 3, 4, 5, 6, 5, 6, 5, 6, 1, 2, 3, 4, 5, 6, 5, 6, 5, 6, 1, 2, 3, 4, 5, 6, 5, 6, 5, 6]

In [34]:
l1 = [1,2,3]
print(id(l1),l1)

4587221896 [1, 2, 3]

In [38]:
l1 *=2

In [41]:
print(id(l1),l1)

4587221896 [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [43]:
t1= (1,2,3)
print(id(t1),t1)

4587220424 (1, 2, 3)

In [46]:
t1 = t1 *2 
print(id(t1),t2)

4568879416 (4, 5, 6)