In [2]:
from collections import namedtuple
from datetime import datetime
from functools import partial

file_name = 'nyc_parking_tickets_extract.csv'

with open(file_name) as f:
    column_headers = next(f).strip('\n').split(',')
    
column_names = [header.replace(' ','_').lower()
                for header in column_headers]

Ticket = namedtuple('Ticket',column_names)

def read_data():
    with open(file_name) as f:
        next(f)
        yield from f
        

def parse_int(value,*,default = None):
    try:
        return int(value)
    except ValueError:
        return default

    
def parse_date(value,*,default = None):
    date_format = '%m/%d/%Y'
    try:
        return datetime.strptime(value,date_format).date()
    except ValueError:
        return default
    

def parse_string(value,*,default=None):
    try:
        cleaned = value.strip()
        if not cleaned:
            return default
        else:
            return cleaned
        
    except ValueError:
        return default
    
    
column_parsers = (parse_int,
                 parse_string,
                 lambda x : parse_string(x,default=''),
                 partial(parse_string,default =''),
                 parse_date,
                 parse_int,
                 partial(parse_string,default=''),
                 parse_string,
                 lambda x :parse_string(x,default='')
                 )

def parse_row(row,*,default= None):
    fields = row.strip('\n').split(',')
    parsed_data = [func(field) for func, field in zip(column_parsers,fields)]
    if all(item is not None for item in parsed_data):
        return Ticket(*parsed_data)
    else:
        return default
    
    
def parsed_data():
    for row in read_data():
        parsed = parse_row(row)
        if parsed:
            yield parsed

In [8]:
makes_counts = {}
for data in parsed_data():
    if data.vehicle_make in makes_counts:
        makes_counts[data.vehicle_make] +=1
    else:
        makes_counts[data.vehicle_make] =1

for make,cnt in sorted(makes_counts.items(),
      key = lambda t:t[1],
      reverse = True):
    print(make,cnt)

TOYOT 112
HONDA 106
FORD 104
CHEVR 76
NISSA 70
DODGE 45
FRUEH 44
ME/BE 38
GMC 35
HYUND 35
BMW 34
LEXUS 26
INTER 25
JEEP 22
NS/OT 18
SUBAR 18
INFIN 13
LINCO 12
CHRYS 12
ACURA 12
AUDI 12
VOLVO 12
MITSU 11
ISUZU 10
CADIL 9
KIA 8
VOLKS 8
HIN 6
KENWO 5
ROVER 5
BUICK 5
MAZDA 5
MERCU 4
JAGUA 3
SMART 3
PORSC 3
WORKH 2
SATUR 2
SCION 2
SAAB 2
HINO 2
FIR 1
OLDSM 1
PETER 1
CITRO 1
GEO 1
YAMAH 1
BSA 1
MINI 1
PONTI 1
SPRI 1
PLYMO 1
UPS 1
FIAT 1
UD 1
UTILI 1
GMCQ 1
STAR 1
AM/T 1
MI/F 1

In [9]:
from collections import defaultdict

In [10]:
d = defaultdict(str)

In [11]:
d['a'] =1

In [14]:
d['a']

1

In [15]:
d['b']

''

In [17]:
d = defaultdict(int)
d['a'] ='hello'
d['b']

0

In [19]:
d['BMW']+=1

In [20]:
d['BMW']

1

In [22]:
makes_counts = defaultdict(int)

for data in parsed_data():

        makes_counts[data.vehicle_make] +=1


for make,cnt in sorted(makes_counts.items(),
      key = lambda t:t[1],
      reverse = True):
    print(make,cnt)

TOYOT 112
HONDA 106
FORD 104
CHEVR 76
NISSA 70
DODGE 45
FRUEH 44
ME/BE 38
GMC 35
HYUND 35
BMW 34
LEXUS 26
INTER 25
JEEP 22
NS/OT 18
SUBAR 18
INFIN 13
LINCO 12
CHRYS 12
ACURA 12
AUDI 12
VOLVO 12
MITSU 11
ISUZU 10
CADIL 9
KIA 8
VOLKS 8
HIN 6
KENWO 5
ROVER 5
BUICK 5
MAZDA 5
MERCU 4
JAGUA 3
SMART 3
PORSC 3
WORKH 2
SATUR 2
SCION 2
SAAB 2
HINO 2
FIR 1
OLDSM 1
PETER 1
CITRO 1
GEO 1
YAMAH 1
BSA 1
MINI 1
PONTI 1
SPRI 1
PLYMO 1
UPS 1
FIAT 1
UD 1
UTILI 1
GMCQ 1
STAR 1
AM/T 1
MI/F 1

In [27]:
def violation_count_by_make():
    makes_counts = defaultdict(int)

    for data in parsed_data():

        makes_counts[data.vehicle_make] +=1

    return {make:cnt
            for make, cnt in sorted(makes_counts.items(),
      key = lambda t:t[1],
      reverse = True)}

In [29]:
print(violation_count_by_make())

{'TOYOT': 112, 'HONDA': 106, 'FORD': 104, 'CHEVR': 76, 'NISSA': 70, 'DODGE': 45, 'FRUEH': 44, 'ME/BE': 38, 'GMC': 35, 'HYUND': 35, 'BMW': 34, 'LEXUS': 26, 'INTER': 25, 'JEEP': 22, 'NS/OT': 18, 'SUBAR': 18, 'INFIN': 13, 'LINCO': 12, 'CHRYS': 12, 'ACURA': 12, 'AUDI': 12, 'VOLVO': 12, 'MITSU': 11, 'ISUZU': 10, 'CADIL': 9, 'KIA': 8, 'VOLKS': 8, 'HIN': 6, 'KENWO': 5, 'ROVER': 5, 'BUICK': 5, 'MAZDA': 5, 'MERCU': 4, 'JAGUA': 3, 'SMART': 3, 'PORSC': 3, 'WORKH': 2, 'SATUR': 2, 'SCION': 2, 'SAAB': 2, 'HINO': 2, 'FIR': 1, 'OLDSM': 1, 'PETER': 1, 'CITRO': 1, 'GEO': 1, 'YAMAH': 1, 'BSA': 1, 'MINI': 1, 'PONTI': 1, 'SPRI': 1, 'PLYMO': 1, 'UPS': 1, 'FIAT': 1, 'UD': 1, 'UTILI': 1, 'GMCQ': 1, 'STAR': 1, 'AM/T': 1, 'MI/F': 1}